/* Site header */
.site-header {
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    position: relative;
}

.site-title {
    font-size: 30px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}


.site-nav {
    float: right;
    line-height: 56px;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    color: #111;
    line-height: 1.5;
}

.site-nav .page-link:not(:last-child) {
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .site-nav {
        position: absolute;
        top: 9px;
        right: 15px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right;
    }
    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }
    .site-nav .menu-icon>svg {
        width: 18px;
        height: 15px;
    }
    .site-nav .menu-icon>svg path {
        fill: #424242;
    }
    .site-nav .trigger {
        clear: both;
        display: none;
    }
    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px;
    }
    .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px;
    }
    .site-nav .page-link:not(:last-child) {
        margin-right: 0;
    }
}

/* Wrapper */
.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}

.wrapper:after,
.footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
#footer {
    padding: 10px 0 20px;
    border-top: 1px solid #eee;
    color: #999;
    font-size: 13px;
    text-align: center;
}

/* Link */
.post-content a {
    color: #4FC08D;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
    border-bottom: 1px solid #999;
}

.post-content a:hover {
    color: #DD7E42;
    border-bottom-color: #DD7E42;
}

/**/
.home .paging {
    text-align: center;
}

/**/
.entry-list .entry-meta {
    font-size: 14px;
    color: #999;
}

.entry-list .entry-item {
    margin: 25px 0 35px;
    line-height: 25px;
    min-height: 50px;
}

.home .entry-list {
    list-style-type: none;
}

time.update {
    font-family: serif;
    font-size: 14px;
    font-style: italic;
}

time.post-time {
    font-size: 15px;
    color: #999;
}

a.site-title {
    font-size: 30px;
    color: #4FC08D;
}

a.site-title:hover {
    color: #444443;
}

.yue {
    font-size: 20px;
}

.post-content {
    font-family: Helvetica, Georgia, STSong, SimSun, "PingFang SC";
    font-size: 21px;
}

.yue pre {
    font-size: 0.90em;
}

.yue code {
    font-size: 0.87em;
}

/* Footnotes */
.footnotes hr {
    width: 100%;
    border-top: 1px solid #dededc;
    border-bottom: none;
    margin: 14px 0;
}

.footnotes {
    font-size: 17px;
    color: #686869;
}

.footnotes a {
    color: #686869;
}

.yue strong {
    color: #F7915D;
    font-weight: normal;
}

.detail p {
    font-size: 18px;
}

/**/

ul .post-year {
    list-style-type: none;
    padding: 5px;
    color: #F7915D;
    font-size: 1.2em;
}

ul .post-items {
    padding-left: 50px;
    list-style-type: circle;
    font-size: 0.98em;
}