<div id="content" class="inner">

<article style="border-bottom:none;" class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<h1 class="title" itemprop="name">{{post.title}}</h1>
	<div class="entry-content" itemprop="articleBody">
		{{ post.content }}
	</div>


	
</article>

<section class="index-archives">
<h1 class="title" style="font-size: 3em; margin-bottom:20px; " itemprop="name">Recent Posts</h1>
		{% for p in posts %}
			{% if currentLoop.currentIndex < 5 %}
				<article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
					<div class="meta">
						<span class="date"><time datetime="{{ p.dateGTM }}" itemprop="datePublished">{{ p.date }}</time></span>
						<br>
						 
						{% if p.cats.@count %}<span class="tags">posted in {% /if %}
						{% for cat in p.cats %}
						    <a class='category' href='{{ cat.url }}'>{{ cat.name }}</a>&nbsp;
						{% /for %} 
						{% if p.cats.@count %}</span>{% /if %}
					    
					</div>
					<h1 class="title" style="font-size:1.3em; margin-bottom:0px;" itemprop="name"><a href="{{ p.url }}">
					{{ p.title }}</a></h1>
				</article>
			{% /if %}
	 	{% /for %}
<nav id="pagenavi"><a class="next" href="all.html">Blog</a> </nav>
</section>

</div>
