  <footer class="footer">
            <div class="container">
                <div class="site-footer-wrapper">
                       <!-- include(section-icons-link.html) -->                         
                </div>
                <div class="site-menu-wrapper">
                  &nbsp;<span>|</span>&nbsp;
                  {% for m in siteMenu %}
                    <a target="{{ m.target }}" class="{{ m.className }}" href="{{ m.url }}">{{ m.name }}</a>
                    &nbsp;<span>|</span>&nbsp;
                  {% /for %}                           
                </div>

                <p class="footer-copyright">
                        Copyright &copy; 2019
                        Powered by <a target="_blank" href="http://www.mweb.im">MWeb</a>,&nbsp; 
                        Theme used <a target="_blank" href="https://blog.timac.org">Timac</a>.
                </p>
            </div>
        </footer>

<!-- include(section-chart-support.html) -->
        
      
{% if ext_disqus_shortname.length %}
<script type="text/javascript">
    var disqus_shortname = '{{ ext_disqus_shortname }}'; 

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<script type="text/javascript">
var disqus_shortname = '{{ ext_disqus_shortname }}'; 

(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{% /if %}  
{% if ext_duoshuo_shortname.length %}

<script type="text/javascript">
var duoshuoQuery = {short_name:'{{ ext_duoshuo_shortname }}'};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
{% /if %}    

{{ siteOther }}
    </body>
</html>
