
<div class="hero-body ct-body">
        <div class="container">
              <div class="columns is-centered">
                  <div class="column  is-four-fifths">
                      <div class="columns is-mobile">
                          <div class="column">
                              <h1 class="title">
{{ siteName }}
              
                              </h1>
                              <h2 class="subtitle">
                                 {{ siteDes }}
                              </h2>
                          </div>
                          <div class="column is-narrow"><figure class="image is-128x128">
                            {% if ext_logo_path %}
                              <img class="is-rounded" src="{{ ext_logo_path }}">
                            {% /if %}
                            </figure></div>
                      </div>
                        
                      
                  </div>
                  
                </div>
            
              
        
        </div>
      </div>
</section>
<section class="ct-body">
      <div class="container">
          <div class="columns is-variable bd-klmn-columns is-4">
              <div class="column is-two-thirds">
                {% for p in posts %}
                  <div class="card">
                    {% if p.ext_featured_image.length %}
                      <a href="{{ p.url }}">                
                      <div class="card-image">
                          <figure class="image">
                            <img src="{{ p.ext_featured_image }}" />
                          </figure>
                        </div>
                      </a>
                    {% /if %}
                      <div class="card-content">
                        <div class="content">
                          <a href="{{ p.url }}"> 
                            <h2 class="title">{{ p.title }}</h2>
                          </a>        
                          {% if p.ext_excerpt.length %}
                          <p>{{ p.ext_excerpt }}</p>
                          {% /if %}                          
                          <p> 
                            <a href="{{ p.url }}"><span class="tran-readmore">Read more...</span></a>&nbsp;&nbsp; 
                            <span class="date">{{ p.date }}</span>
                            {% if p.cats.@count %}<span class="tran-posted-in">posted in</span>&nbsp; {% /if %}
                            {% for cat in p.cats %}
                                <span class="posted-in"><a href='{{ cat.url }}'>{{ cat.name }}</a></span>
                            {% /for %}                          
                          </p>
                        </div>
                      </div>
                    </div>
                  {% /for %}

                  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    <a class="pagination-previous" {% if prevPageUrl.length %}  href="{{ prevPageUrl }}" {% else %} disabled="disabled" {% /if %}><span class="tran-prev-page">&laquo; Prev Page</span></a>  
                    <a class="pagination-next" {% if nextPageUrl.length %}  href="{{ nextPageUrl }}" {% else %} disabled="disabled" {% /if %}><span class="tran-next-page">Next Page &raquo;</span></a>                   
                  </nav>

              </div><!-- end column -->
              <div class="column">
                 <!-- include(section-cats_tags.html) -->

              </div>
            </div>

          
      </div>
    </section>

