<script type="text/javascript">
  $(function(){
    $('#menu_item_index').addClass('is_active');
  });
</script>
<div class="row">
  <div class="large-8 medium-8 columns">
      <div class="markdown-body article-wrap">
       <div class="article">
          {% if post.ext_featured_image.length %}
              <div class="f-img"><img src="{{ post.ext_featured_image }}" /></div>
          {% /if %}
          <h1>{{ post.title }}</h1>
     
        <div class="read-more clearfix">
          <span class="date">{{ post.date }}</span>

          {% if post.cats.@count %}<span>posted in&nbsp;</span> {% /if %}
          {% for cat in post.cats %}
              <span class="posted-in"><a href='{{ cat.url }}'>{{ cat.name }}</a></span>
          {% /for %} 
         
          <span class="comments">
            {% if ext_disqus_shortname.length %}
              <a href="{{ siteURL }}{{post.url}}#disqus_thread">comments</a>
            {% /if %}

            {% if ext_duoshuo_shortname.length %}
              &nbsp;<a  class="ds-thread-count" data-thread-key="{{post.url}}" data-count-type="comments" href="{{post.url}}#ds-thread"></a>
            {% /if %}
          </span>

        </div>
      </div><!-- article -->

      <div class="article-content">
      {{ post.content }}

    

      </div>

      <div class="row">
        <div class="large-6 columns">
        <p class="text-left" style="padding:15px 0px;">
      {% if postNav.prev %}
          <a href="{{ postNav.prev.url }}" 
          title="Previous Post: {{ postNav.prev.title }}">&laquo; {{ postNav.prev.title }}</a>
      {% /if %}
        </p>
        </div>
        <div class="large-6 columns">
      <p class="text-right" style="padding:15px 0px;">
      {% if postNav.next %}
          <a  href="{{ postNav.next.url }}" 
          title="Next Post: {{ postNav.next.title }}">{{ postNav.next.title }} &raquo;</a>
      {% /if %}
      </p>
        </div>
      </div>
      <div class="comments-wrap">
        <div class="share-comments">
          {{ commentAndShareCode }}

          {% if ext_disqus_shortname.length %}
            <div id="disqus_thread"></div>
          {% /if %}

          {% if ext_duoshuo_shortname.length %}
              <div class="ds-thread" data-thread-key="{{post.url}}" data-url="{{ siteURL }}{{post.url}}" data-title="{{post.title}}"></div>
          {% /if %}
        </div>
      </div>
    </div><!-- article-wrap -->
  </div><!-- large 8 -->




